.header-subject {
    font-size: 18px;
    font-family: monospace;
    text-transform: lowercase;
}

.entry {
    font-size: 14px;
    font-family: monospace;
    text-transform: lowercase;
}

.entry-date {
    text-align: right;
    font-size: 14px;
}
.entry-hr {
    margin-top: -13px;
}
.sidebar-header {
    text-align: center;
    font-size: 18px;
    font-family: monospace;
}

.sidebar-entryheaders {
    text-align: center;
    font-size: 13px;
    font-family: monospace;
    margin-top: -15px;
}