.header-subject {
    font-size: 18px;
    font-family: Helvetica;
    text-transform: lowercase;
}

.entry {
    font-size: 14px;
    font-family: Helvetica;
    text-transform: lowercase;
}

.entry-date {
    text-align: right;
    font-size: 14px;
    margin-left: 5px;
}
.entry-author{
    font-size: 14px;
    margin-right: 5px;
}
.entry-hr {
    margin-top: -13px;
}
.subject-header{
    font-size: 18px;
    font-family: Helvetica;
    text-transform: lowercase;
    margin-bottom: -10px;
}
.sidebar-header {
    text-align: center;
    font-size: 18px;
    font-family: Helvetica;
}


.sidebar-entryheaders {
    text-align: left;
    font-size: 13px;
    font-family: Helvetica;
   
}
.profilistatistik:hover {
    background-color: #f9f9f9;
}

.profilistatistik {
    font-size: 12px;
    font-weight: bold;
    font-family: Helvetica;
}

.profilistatistikheader {
    border-bottom: 2px solid #1e211f;
}
.profilquote {
    min-height:30px;
  
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0.5em 10px;
    
}
.quote{
    background: #f9f9f9;
    border-left: 10px solid #ccc;
}
.nav-item{
    font-family: Helvetica;
}
a{
 color: #1e211f;   
}
.Helvetica{
    font-family: Arial, Helvetica, sans-serif;
}
.subject-buttons{
    margin-top:-15px;
    margin-bottom:20px;

}
.modbut{
    margin-left:2px;
}
.modbut:hover{
    color:darkred;
}

.mobileHide {
    display: inline;
}

/* Smartphone Portrait and Landscape */
@media only screen and (min-device-width : 0px) and (max-device-width : 699px) {
    .mobileHide {
        display: none;
    }
}
.mobileShow {
    display: none;
}

/* Smartphone Portrait and Landscape */
@media only screen and (min-device-width : 0px) and (max-device-width : 699px) {
    .mobileShow {
        display: inline;
    }
}

.badge {
    float: right;
}

.sidebaryazi {
    font-size: 15px;
}

/*Tooltip*/
section#tooltip p {
    margin: 20px 0;
}

section#tooltip > div > div > p:nth-child(odd)::first-letter {
    font-weight: normal;
    float: left;
    font-size: 4em;
    line-height: .75;
    letter-spacing: .15em;
    margin-top: .2em;
}

/*Tooltip text*/
.tooltip {
    position: relative;
    color: #00b4ab;
}

    .tooltip .tooltip-text {
        font-family: "Open Sans", sans-serif;
        font-size: 1em;
        line-height: 1.5em;
        visibility: hidden;
        max-width: 300px;
        background-color: #00b4ab;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: .3s;
        transform: translate3d(0px, 20px, 0px);
    }

        .tooltip .tooltip-text::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #00b4ab transparent transparent transparent;
        }

    .tooltip:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
.bg-navbar {
    background-color: #fffef7;
}
body {
    background-color: #fffef7;
}
.sidebar:hover{
    text-decoration:none;

}
.list-group-item:hover{
    background-color: dimgrey;
    color:white;
}