
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="header-subject">duyurular</h1>
<p class="entry">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<p class="entry-date">xx/xx/xxxx</p>
<hr class="entry-hr">
<br />

@if(ViewBag.Level > 6)
{
<form class="" asp-controller="announcement" asp-action="Add" method="post">

    <br><br>

    <label for="" style="">Duyuru: </label>

    <textarea type="text" name="announce" id="girdi-area" value="" class="md-textarea form-control" rows="3" required></textarea>



    <button id="girdi-area2" type="button" class="btn btn-dark Helvetica" style="margin-top: 10px; margin-right: 2px;  float: left" onClick="formatText ('b');">b</button>
    <button type="button" class="btn btn-dark Helvetica" style="margin-top: 10px; margin-right: 2px; float: left" onClick="formatText ('i');">i</button>
    <button type="button" class="btn btn-dark Helvetica" style="margin-top: 10px; margin-right: 2px;  float: left" onClick="formatText ('bkz');">bkz</button>
    <button type="button" class="btn btn-dark Helvetica" style="margin-top: 10px; margin-right: 2px;  float: left" onClick="formatText ('gbkz');">gbkz</button>
    <!-- <button type="button" class="btn btn-dark Helvetica" style="margin-top: 10px; margin-right: 2px;  float: left" onClick="formatText ('u');">*</button>-->
    <button type="button" class="btn btn-dark Helvetica" style="margin-top: 10px; margin-right: 2px;  float: left" onClick="alinti();">alıntı</button>
    <button type="button" class="btn btn-dark Helvetica" style="margin-top: 10px; margin-right: 2px;  float: left" onClick="spoiler();">spoiler</button>
    <button type="submit" class="btn btn-dark Helvetica" style="margin-top: 10px;  float: right;">Gönder</button>

</form>
}

<script>

    function formatText(tag) {
        var myTextArea = document.getElementById('girdi-area');
        var myTextAreaValue = myTextArea.value;
        var selected_txt = myTextAreaValue.substring(myTextArea.selectionStart, myTextArea.selectionEnd);
        var before_txt = myTextAreaValue.substring(0, myTextArea.selectionStart);
        var after_txt = myTextAreaValue.substring(myTextArea.selectionEnd, myTextAreaValue.length);
        myTextArea.value = before_txt + '(' + tag + ': ' + selected_txt + ')' + after_txt;
    }
    function alinti() {
        var myTextArea = document.getElementById('girdi-area');
        var myTextAreaValue = myTextArea.value;
        var selected_txt = myTextAreaValue.substring(myTextArea.selectionStart, myTextArea.selectionEnd);
        var before_txt = myTextAreaValue.substring(0, myTextArea.selectionStart);
        var after_txt = myTextAreaValue.substring(myTextArea.selectionEnd, myTextAreaValue.length);
        myTextArea.value = before_txt + '----(gbkz: alıntı)---\n\n' + selected_txt + '\n\n----(gbkz: alıntı)---\n\n' + after_txt;
    }
    function spoiler() {
        var myTextArea = document.getElementById('girdi-area');
        var myTextAreaValue = myTextArea.value;
        var selected_txt = myTextAreaValue.substring(myTextArea.selectionStart, myTextArea.selectionEnd);
        var before_txt = myTextAreaValue.substring(0, myTextArea.selectionStart);
        var after_txt = myTextAreaValue.substring(myTextArea.selectionEnd, myTextAreaValue.length);
        myTextArea.value = before_txt + '--! (gbkz: spoiler) !--\n\n' + selected_txt + '\n\n--! (gbkz: spoiler) !--\n\n' + after_txt;
    }
</script>
