
@{
    ViewData["Title"] = "EntryDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<div class="quote">
    <h4 class="subject-header">Aşağıdaki tanımı silmek istediğinize emin misiniz?</h4>
</div>
<br />


<form action="/" method="post">
    <div class="row" style="margin-left:4px;">
        <button type="button" class="btn btn-outline-dark col-md-5 col-sm-8">Evet</button>
        &emsp;
        <button type="button" class="btn btn-outline-dark col-md-5 col-sm-8">Vazgeç</button>

    </div>

    <div class="md-form">
        <label for="form1" class="monospace"> Başlık:</label>
        <input type="text" id="form1" class="form-control monospace" disabled>
    </div>
    <div class="md-form">
        <label for="form1" class="monospace"> Tanım:</label>
        <textarea type="text" name="entry" id="girdi-area" value="" class="md-textarea form-control" rows="3" disabled></textarea>
    </div>


</form>
