@using _8BD.Helpers;
@inject HttpHelper _helper;
@{
    ViewData["Title"] = "SubjectEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.id;
    var subject = _helper.GetSubjectNameById(id);

}

<h2 class="monospace"> Başlık Düzenleme</h2>
<form action="/" method="post">

    <div class="md-form">
        <label for="form1" class="monospace">Eski Başlık:</label>
        <input type="text" id="form1" class="form-control monospace" placeholder="@subject" disabled>

    </div>
    <div class="md-form">
        <label for="form1" class="monospace">Yeni Başlık:</label>
        <input type="text" id="form1" class="form-control monospace">

    </div>

    <button type="submit" class="btn btn-dark monospace" style="margin-top: 10px;  float: right;">Gönder</button>
</form>