@using _8BD.Helpers;
@inject HttpHelper _helper;
@{
    ViewData["Title"] = "SubjectHide";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.id;
    var subject = _helper.GetSubjectNameById(id);

}
<br />
<br />

<div class="quote">
    <h4 class="subject-header">Aşağıdaki başlığı gizlemek istediğinize emin misiniz?</h4>
</div>
<br />


<form  method="post">
    <div class="row" style="margin-left:4px;">
        <button type="button" class="btn btn-outline-dark col-md-5 col-sm-8">Evet</button>
        &emsp;
        <button type="button" class="btn btn-outline-dark col-md-5 col-sm-8">Vazgeç</button>

    </div>

    <div class="md-form">
        <label for="form1" class="Helvetica"> Başlık:</label>
        <input type="text" id="form1" placeholder="@subject" class="form-control Helvetica" disabled>

    </div>

</form>
