@using _8BD.Helpers;
@inject HttpHelper _helper;
@{
    ViewData["Title"] = "SubjectEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.id;
    var subject = _helper.GetSubjectNameById(id);

}

<h2 class="Helvetica"> Başlık Düzenleme</h2>
<form asp-controller="subject" asp-action="edit" method="post">

    <div class="md-form">
        <label for="form1" class="Helvetica">Eski Başlık:</label>
        <input type="text" id="form1" name="oldsubject" value="@subject" class="form-control Helvetica" placeholder="@subject" disabled>
        <input type="text" id="form1" name="oldsubject" value="@subject" class="form-control Helvetica" hidden>

    </div>
    <input type="text" name="id" value="@id" hidden />
    <div class="md-form">
        <label for="form1" class="Helvetica">Yeni Başlık:</label>
        <input type="text" id="form1" name="newsubject" class="form-control Helvetica">

    </div>
    <a href="\subject?search=@subject" class="btn btn-outline-dark" style=" margin-top: 10px; float:right;"> Vazgeç</a>


    <button type="submit" class="btn btn-dark Helvetica" style="margin-top: 10px;  float: right;">Gönder</button>

</form>