@using _8BD.Helpers;
@inject HttpHelper _helper;
@{
    ViewData["Title"] = "SubjectDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.id;
    var subject = _helper.GetSubjectNameById(id);

 }
    <br />
    <br />

    <div class="quote">
        <h4 class="subject-header">Aşağıdaki başlığı silmek istediğinize emin misiniz?</h4>
    </div>
    <br />


    <form asp-controller="subject" asp-action="delete" method="post">


        <div class="md-form">
            <label for="form1" class="monospace"> Başlık:</label>
            <input type="type" name="id" value="@id" hidden />
            <input type="text" id="form1" placeholder="@subject" class="form-control monospace" disabled>

        </div>
        <div class="row" style="margin-left:4px;">
            <button type="submit" class="btn btn-outline-dark col-md-5 col-sm-8">Evet</button>
            &emsp;
            <button type="button" class="btn btn-outline-dark col-md-5 col-sm-8">Vazgeç</button>

        </div>

    </form>
