
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h4 class="Helvetica">Mesajlar</h4>

    <hr />
    <a href="/message/newmessage"><button class="btn btn-dark Helvetica"> Yeni Mesaj</button> </a>
