
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";

  if (@ViewBag.Message != null)
    {
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
    }
}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center">
                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <h3 class="text-center">şifrenizi mi unuttunuz?</h3>
                    <p>şifrenizi buradan yenileyebilirsiniz</p>
                    <div class="panel-body">
                        <form id="register-form" role="form" asp-controller="login" asp-action="recoverpassword" autocomplete="off" class="form" method="post">

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                    <input id="email" name="email" placeholder="email adresiniz" class="form-control" type="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <input name="recover-submit" class="btn btn-lg btn-outline-secondary btn-block" value="şifreyi yenile" type="submit">
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
