
@{
    ViewData["Title"] = "RegisterContract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h4 class="Helvetica"><b>Kullanım Koşulları</b></h4>

    <p class="Helvetica" style="font-size:14px;">
        Filmcisözlük bünyesinde yer alan içerikler 18 yaşından küçükler için uygun olmayabilir. Bu nedenle 18 yaşından küçük olanların kullanıcı olarak kayıt olması mümkün değildir. Çocukların uygun olmayan içeriklerden çevrimiçi ortamda korunumuna ilişkin ebeveyn denetim araçları kullanılmalıdır. Güvenli internet ve filtreleme mekanizmaları için detaylı bilgiye şuradan ulaşabilirsiniz: <a href="https://www.guvenliweb.org.tr/"><b>https://www.guvenliweb.org.tr/</b></a> <br /> <br />
        İşbu sözlük kayıtlı kullanıcıların oluşturduğu içerikleri barındıran ve işleten bir yer sağlayıcıdır. Sözlük yer sağladığı içeriği kontrol etmek ve/veya hukuka aykırı bir faaliyetin söz konusu olup olmadığını araştırmakla yükümlü değildir. 5651 sayılı kanunun kendisine yüklediği sıfatla sitede yer alan bilgilerin doğruluğuna ve hukuka aykırı olup olmadığına ilişkin herhangi bir sarih ya da zımni garanti verilmemekte ve taahhütte bulunulmamaktadır. Ancak üretilen içeriğin suç teşkil etmemesi ve kişilik haklarına saldırı içermemesi için gerekli özeni gösterir bu konuda yapılan şikayetleri büyük bir titizlikle değerlendirir. <br /> <br />
        İçeriklerde yer alan yönlendirici linklere ilişkin Filmcisözlük’ün hiçbir sorumluluğu ve kontol etme yükümlülüğü bulunmamaktadır. Bu bağlantı veya linklerin  hoax, scam, phishing, trojan, virüs ve benzeri zararlı yazılımlar barındırmadığı yahut yönlendirilen sitenin hukuka uygun olduğu garantisi verilmemektedir. Yönlendirici bağlantı ve linklerin kullanımıyla doğabilecek zararlar üyelerin kendi sorumluluğundadır. <br /><br />
        Kullanıcı ürettiği içeriği ticari amaçla kullanabilir, çoğaltabilir; içeriğin tüm sorumluluğu kullanıcılara aittir  ancak hiçbir coğrafi sınırlama olmaksızın, süresiz ve bedelsiz kullanma hakkı ise Filmcisözlük’e aittir. Site her türlü ortamda ve yan markalarında içerikleri ticari amaçla kullanma hakkına sahip olduğundan bu kullanımlardan kaynaklı kullanıcıların telif ücretine hak kazanması söz konusu değildir..<br /> <br />
        Filmcisözlük’te yer alan içeriklerin üçüncü kişiler tarafından ticari amaçla kullanılması, kaynak gösterilmeden alıntılanması mümkün değildir. İçeriğin tamamı kullanılmadan ve aktif link verilerek şahsi amaçla alıntılamak ve paylaşmak mümkündür. <br /> <br />
        Kullanıcıların yazılı izni bulunmadan Filmcisözlük sitesini ticari maksatla ve reklam ve benzeri gelir elde edecek bir amaç uğruna kullanılması yasaktır. <br /><br />
        Sitede bulunduğunuz sürece “cookie” olarak adlandırılan çerezlerin ve benzer uygulamaların bilgisayarınıza yerleştirilmesi söz konusu olabilir. Bu uygulamalar asla kimliğe ilişkin özel bilgiler içermez, oturum bilgileri gibi kullanıcıyı tekrar tanıma tarzında hizmetler için kullanılır. <br /> <br />
        Filmcisözlük, siteye kayıtlı kullanıcı bilgilerini işleyebilir, bir veritabanı üzerinde tasnif edip muhafaza edebilir. Aynı zamanda; kullanıcılarının kimliği, adresi, elektronik posta adresi, telefon numarası, IP adresi, sitenin hangi bölümlerini ziyaret ettiği, domain tipi, browser tipi, ziyaret tarihi, saati vs bilgileri de istatistiki değerlendirme ve kişiye yönelik hizmetler sunma gibi amaçlarla kullanabilir. Kullanıcılara ait kişisel bilgiler, kanunla yetkili kılınan mercilerin talebi hariç olmak üzere gerçek ve tüzel üçüncü kişilere açıklanmayacaktır. <br /> <br />
        Kullanım koşullarında yapılacak değişikler kullanıcılara duyurulmak zorundadır. Kullanım hakkına ilişkin kısıtlama getirmeyen yazılım değişiklerini ise duyurma yükümlülüğü bulunmamaktadır. Değişiklikler site üzerinde yayınlanmakla yürürlüğe girer. <br /> <br />
        Filmcisözlük’e üye olmakla birlikte yukarıda yer alan koşullar kabul edilmiş sayılır.
    </p>

