
@{
    ViewData["Title"] = "RegisterContract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h4 class="monospace"><b>Kullanım Koşulları</b></h4>

    <p class="monospace" style="font-size:14px;">
        Filmcisözlük bünyesinde yer alan içerikler 18 yaşından küçükler için uygun olmayabilir. Bu nedenle 18 yaşından küçük olanların kullanıcı olarak kayıt olması mümkün değildir. Çocukların uygun olmayan içeriklerden çevrimiçi ortamda korunumuna ilişkin ebeveyn denetim araçları kullanılmalıdır. Güvenli internet ve filtreleme mekanizmaları için detaylı bilgiye şuradan ulaşabilirsiniz: <a href="https://www.guvenliweb.org.tr/"><b>https://www.guvenliweb.org.tr/</b></a> <br /> <br />
        İşbu sözlük kayıtlı kullanıcıların oluşturduğu içerikleri barındıran ve işleten bir yer sağlayıcıdır. Sözlük yer sağladığı içeriği kontrol etmek veya hukuka aykırı bir faaliyetin söz konusu olup olmadığını araştırmakla yükümlü değildir. 5651 sayılı kanunun kendisine yüklediği sıfatla sitede yer alan bilgilerin doğruluğunu ve hukuka aykırı olup olmadığını garanti etmez. Ancak üretilen içeriğin suç teşkil etmemesi ve kişilik haklarına saldırı içermemesi için gerekli özeni gösterir bu konuda yapılan şikayetleri büyük bir titizlikle değerlendirir. <br /> <br />
        Kullanıcı ürettiği içeriği ticari amaçla kullanabilir, çoğaltabilir; içeriğin tüm sorumluluğu kullanıcılara aittir  ancak hiçbir coğrafi sınırlama olmaksızın, süresiz ve bedelsiz kullanma hakkı ise filmcisözlük’e aittir. Site her türlü ortamda ve yan markalarında içerikleri ticari amaçla kullanma hakkına sahip olduğundan bu kullanımlardan kaynaklı kullanıcıların telif ücretine hak kazanması söz konusu değildir. <br /><br />
        Sitede bulunduğunuz sürece “cookie” olarak adlandırılan çerezlerin ve benzer uygulamaların bilgisayarınıza yerleştirilmesi söz konusu olabilir. Bu uygulamalar asla kimliğe ilişkin özel bilgiler içermez, oturum bilgileri gibi kullanıcıyı tekrar tanıma tarzında hizmetler için kullanılır.<br /> <br />
        Kullanım koşullarında yapılacak değişikler kullanıcılara duyurulmak zorundadır. Kullanım hakkına ilişkin kısıtlama getirmeyen yazılım değişiklerini ise duyurma yükümlülüğü bulunmamaktadır. <br /> <br />
        Filmcisözlük’e üye olmakla birlikte yukarıda yer alan koşullar kabul edilmiş sayılır.
    </p>

