<form class="" asp-controller="Entry" asp-action="Index" method="post">



    <input type="text" name="subject" value="@ViewBag.Subject" placeholder="" style="width: 100%;" hidden>
    <br><br>

    <label for="" style="">Tanım: </label>

    <textarea type="text" name="entry" id="girdi-area" value="" class="md-textarea form-control" rows="3" required></textarea>
    
    

    <button id="girdi-area2" type="button" class="btn btn-dark" style="margin-top: 10px; margin-right: 2px;  float: left">b</button>
    <button type="button" class="btn btn-dark" style="margin-top: 10px; margin-right: 2px; float: left">i</button>
    <button type="button" class="btn btn-dark" style="margin-top: 10px; margin-right: 2px;  float: left">bkz</button>
    <button type="button" class="btn btn-dark" style="margin-top: 10px; margin-right: 2px;  float: left">gbkz</button>
    <button type="button" class="btn btn-dark" style="margin-top: 10px; margin-right: 2px;  float: left">*</button>
    <button type="button" class="btn btn-dark" style="margin-top: 10px; margin-right: 2px;  float: left">alıntı</button>
    <button type="button" class="btn btn-dark" style="margin-top: 10px; margin-right: 2px;  float: left">link</button>
    <button type="submit" class="btn btn-dark" style="margin-top: 10px;  float: right;">Gönder</button>

</form>