@{
    ViewData["Title"] = "anasayfa";
}
    <br />
    <h4 class="Helvetica"> hoşgeldiniz</h4>
    <p class="entry">
        Öncelikle siteye hoşgeldiniz. Sizin için faydalı olması açısından <a href="/Subject?search=tan%C4%B1m%20yaz%C4%B1l%C4%B1rken%20dikkat%20edilmesi%20gerekenler"><b>tanım yazılırken dikkat edilmesi gerekenler</b></a> adlı başlığa
        ve <a href="/Subject?search=başlık kuralları"><b>başlık kuralları</b></a> adlı başlığa bakabilirsiniz. İlginiz için teşekkür!

    </p>
    <br />
        <h4 class="Helvetica"> hakkımızda</h4>

        <p class="entry">

            <b><a href="/Subject?search=filmcisözlük">filmcisözlük</a></b>, sinemaya dair her şeyin paylaşılıp tartışılabildiği bir interaktif sözlük platformudur.<br />
            Her kullanıcı sözlüğe kayıt olurken yalnızca bir hesap kullanabilir.<br />
            Kayıt olurken kullanılan kullanıcı ismi küfür, hakaret, ağır argo içeremez.<br />
            Tanım ve başlık kuralları için aşağıdaki linklerde yer alan uyarılara göz atabilirsiniz:<br />
                                                                                                    <br />
            1.<a href="/Subject?search=başlık kuralları"><b>başlık kuralları</b></a> <br />
            2.<a href="/Subject?search=tan%C4%B1m%20yaz%C4%B1l%C4%B1rken%20dikkat%20edilmesi%20gerekenler"><b>tanım yazılırken dikkat edilmesi gerekenler</b></a>


        </p>
        <iframe style='width:99%; height: 400px;' src='https://www.youtube.com/embed/-OWacJxJslM' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
    
