
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" role="navigation">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index"><b><i class="fas fa-spell-check"></i> filmcisozluk</b></a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link"><i class="far fa-comment-alt"></i> posta</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-quote-left"></i> blog</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-bullhorn"></i> duyurular</a></li>
                
                
            </ul>
           
            <form class="form-inline" method="GET" asp-controller="Subject" asp-action="Index">
                <div style="display: flex; align-items: center;">
                <input class="form-control mr-sm-2 search-input monospace" type="search" placeholder="yazsana bişiler" name="search" id="search">
                <button class="btn btn-light" type="submit">
                    <i class="fa fa-search"></i>
                </button>
                </div>
            </form>
            

            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">

                <li class="dropdown order-1">

                    @if (ViewBag.Name == null)
                    {
                       

                        <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle monospace"><i class="fas fa-sign-in-alt"></i>    giriş <span class="caret"></span></button>
                    }
                    else
                    {

                        <div class="dropdown">
                            <button type="button" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle monospace"><i class="far fa-user"></i>  @ViewBag.Name <span class="caret"></span></button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item monospace" asp-controller="Profile" asp-action="Index"><i class="fas fa-user-circle"></i> benlik</a>
                                <a class="dropdown-item monospace" href="#"><i class="fas fa-cog"></i> ayarlar</a>
                                <a class="dropdown-item monospace" asp-controller="Login" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> <b>çıkış</b></a>
                            </div>
                        </div>

                    }
                    <ul class="dropdown-menu dropdown-menu-right mt-2">
                        <li class="px-3 py-2">
                            <form class="form" role="form" asp-controller="Login" asp-action="Index" method="post">
                                <div class="form-group">
                                    <input id="usernameInput" name="username" placeholder="kullanıcı adı" class="form-control form-control-sm monospace" type="text" required="">
                                </div>
                                <div class="form-group">
                                    <input id="passwordInput" name="password" type="password" placeholder="şifre" class="form-control form-control-sm" required="">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block monospace">giriş</button>
                                </div>
                                
                                <div class="form-group text-center">
                                    <small><a href="#" class="monospace">şifremi unuttum</a></small>
                                    <small><a asp-controller="Login" asp-action="Register" class="monospace">kayıt ol</a></small>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>