@using RestSharp;
@using _8BD.Helpers;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject SidebarHelper helper;

<h1 class="sidebar-header">vizyondaki başlıklar </h1>
<div style='margin-bottom:10px; justify-content:center;' class='dropdown'>
    
    <button id='sol' style='margin-left:33%;' class='btn btn-sm eksilt btn-outline-secondary'><i class='fa fa-angle-left'></i></button>
    <button id='sidebar_button ' style='margin-left:1px; margin-right:1px; margin-bottom:0px; min-width:60px; height:31px;' role='button' type='button' class='btn btn-sm btn-default dropdown-toggle sidebarsayfalar btn-outline-secondary' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>1  </button>
    <div id='dropdown-side' class='dropdown-menu ' aria-labelledby='dropdownMenuButton' style='min-width:10px;'>
        <z id='' class='dropdown-item pagination_link ' href='#'>1</z>
    </div><button id='sag' class='btn btn-sm artir btn-outline-secondary'><i  class='fa fa-angle-right'></i></button>
    </div>

<br>

@foreach (var item in helper.getSubjects() as IOrderedEnumerable<_8BD.Models.Subject>)
{
    <p class="sidebar-entryheaders"> <a href="@Configuration["AppHost"]/Subject?search=@item.subject"> @item.subject</a></p>
}
