@using RestSharp;
@using _8BD.Helpers;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject SidebarHelper helper;
@inject SidebarHelper _helper;
@{
    var c = helper.getSubjects();
}
<br>
<h1 class="sidebar-header" style="text-decoration:underline;">vizyondaki başlıklar </h1>
<!--
<div style='margin-bottom:10px; justify-content:center;' class='dropdown'>

    <button id='sol' style='margin-left:33%;' class='btn btn-sm eksilt btn-outline-secondary'><i class='fa fa-angle-left'></i></button>
    <button id='sidebar_button ' style='margin-left:1px; margin-right:1px; margin-bottom:0px; min-width:60px; height:31px;' role='button' type='button' class='btn btn-sm btn-default dropdown-toggle sidebarsayfalar btn-outline-secondary' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>1  </button>
    <div id='dropdown-side' class='dropdown-menu ' aria-labelledby='dropdownMenuButton' style='min-width:10px;'>
        <z id='' class='dropdown-item pagination_link ' href='#'>1</z>
    </div><button id='sag' class='btn btn-sm artir btn-outline-secondary'><i class='fa fa-angle-right'></i></button>
</div> -->


<ul class="list-group">



    @foreach (var item in (IEnumerable<Subject>)c)
    {
        <a href="/Subject?search=@item.subject" class="Helvetica sidebar" style="font-size:14px; ">
            <li style="-webkit-touch-callout: none;
      -khtml-user-select: none;
      -moz-user-select: -moz-none;
      -ms-user-select: none;
      user-select: none;
      line-height:1.5em; margin-bottom:0px;  " class="list-group-item d-flex justify-content-between align-items-center list-group-item-action  loadcenter ">
                @item.subject
                <span style="background-color:black;" class="badge badge-dark badge-pill pull-right sidebaryuvarlak">
                    @item.totalCount
                </span>
            </li>
        </a>
    }
</ul>