@using RestSharp;
@using _8BD.Helpers;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject SidebarHelper helper;

<h1 class="sidebar-header">vizyondaki başlıklar </h1>

<br>

@foreach (var item in helper.getSubjects() as IOrderedEnumerable<_8BD.Models.Subject>)
{
    <p class="sidebar-entryheaders"> <a href="@Configuration["AppHost"]/Subject?search=@item.subject"> @item.subject</a></p>
}